name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # 루트에 있는 package.json을 바로 읽어서 빌드해
      - name: Install and Build
        run: |
          npm install
          npm run build
          
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_YUTJUM_6C577 }}'
          channelId: live
          projectId: yutjum-6c577
          # Firebase 설정 파일들이 루트에 있으니 마침표(.)로 설정
          entryPoint: .